# Copiar este archivo a ".env" (en la raiz del proyecto, junto a index.php)
# y completar con los valores reales. El archivo ".env" NUNCA debe subirse a git.

APP_BASE_URL=
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=
