<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex index.php
    
    # Permitir acceso a archivos y directorios reales
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Sirve assets desde /public/assets manteniendo URL amigable /assets/*
    RewriteRule ^assets/(.*)$ public/assets/$1 [L]
    
    # Enruta todo al front controller dentro de /public
    RewriteRule ^ public/index.php [QSA,L]
</IfModule>

# Bloqueamos acceso directo a ciertos archivos
<FilesMatch "\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>
