<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Permitir acceso a archivos y directorios reales
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Enruta todo a index.php (front controller)
    RewriteRule ^ index.php [QSA,L]
</IfModule>
